
<div>
    <div>
        <input type="button" (click)="newGame()" value="Let's Begin!">
    </div>
  
  <span>Characters: {{state.characters}}</span>
  <div>
    <span>Your Word : </span><input type="text" [(ngModel)]="word" (keydown.enter)="isValidWord()"  >
    <input type="button" (click)="iSValidWord()" value="This is my word!">
  </div>

  <div *ngIf="state.words && state.words.length>0"> Your words :
    <li *ngFor="let word of state.words ">
      {{word}}
    </li>
  </div>

  <div *ngIf="state.score">
    Your score is: {{state.score}}
  </div>

  <div>
      <input type="button" (click)="gameOver()" value="I am out of words!">
  </div>

  <div>
      <input type="button" (click)="newGame()" value="I wanna try again!">
  </div>

</div>



<router-outlet></router-outlet>