<div class="container">
    <div class="row">
      <div class="col-md-2">
          <h3 class="display-4">Word Match!</h3>
      </div>
      <div class="col-md-8"></div>
      <div class="col-md-2"></div>
    </div>
    <div *ngIf="gameStatus!='NEW'" class="row">
      <ul class="list-group list-group-horizontal-lg">
          <li class="list-group-item list-group-item-light" *ngFor="let char of characters()">
              {{char}}
            </li>      
      </ul>
    </div>
    <div class="row">
      <div  *ngIf="gameStatus!='NEW'" class="col-md-4">          
        <li  class="list-group-item list-group-item-success" *ngIf="state.score">
            Score : {{state.score}}
        </li>    
          <div *ngIf="state.words && state.words.length>0" class="list-group list-group-scroll"  >
              <li  class="list-group-item list-group-item-light" *ngFor="let word of state.words ">
                {{word}}
              </li>
            </div>          
      </div>      
      <div  class="col-md-4">
        <div *ngIf="gameStatus!='NEW'" class="row input-group mb-3">
            <input type="text" class="form-control" [(ngModel)]="word" [disabled]="gameStatus!='INPROGRESS'" placeholder="Your word" (keydown.enter)="isValidWord()"  >
            <input type="button" (click)="iSValidWord()" [disabled]="gameStatus!='INPROGRESS'" class="btn btn-success" value="This is my word!">        
        </div>        
        <div *ngIf="gameStatus=='NEW' || gameStatus=='ENDED'"  class="row">
            <input type="button" (click)="newGame()" class="btn btn-primary" value="Let's Begin!">
        </div>        
        <div *ngIf="gameStatus=='INPROGRESS'" class="row"> 
          <input type="button" (click)="gameOver()"  class="btn btn-danger" value="I am out of words!">
        </div>        
      </div>      
    </div>

</div>



<router-outlet></router-outlet>